.c-contact__wrapper {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 20px;
}

.c-contact__wrapper .c-mail__wrapper {
  max-width: 600px;
  text-align: center;
  margin: 40px auto;
  -webkit-box-shadow: 0 6px 8px rgba(97, 95, 95, 0.051);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.0509803922);
  border: 1px solid #657559;
  border-radius: 5px;
  padding: 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-contact__wrapper .c-mail__wrapper::after {
  display: none;
}

.c-contact__wrapper .c-mail__wrapper:hover {
  background-color: #eaedec;
  border: 2px solid #eaedec;
  color: #332c26;
}
